In [1]:
import numpy as np
import pandas as pd

### Group By

In [2]:
data={
    'Category':['A','B','A','B','A','B','A','B'],
    'Store':['S1','S1','S2','S2','S1','S2','S2','S1'],
    'Sales':[100,200,150,250,120,100,200,300],
    'Quantity':[10,15,12,18,8,20,15,25],
    'Date':pd.date_range('2026-01-01',periods=8)
}

df=pd.DataFrame(data)

In [3]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2026-01-01
1        B    S1    200        15 2026-01-02
2        A    S2    150        12 2026-01-03
3        B    S2    250        18 2026-01-04
4        A    S1    120         8 2026-01-05
5        B    S2    100        20 2026-01-06
6        A    S2    200        15 2026-01-07
7        B    S1    300        25 2026-01-08

In [5]:
# Group by Category and calculate sum of sales
df.groupby('Category')['Sales'].sum()

Category
A    570
B    850
Name: Sales, dtype: int64

In [6]:
# Group by Store and calculate the sum of sales
df.groupby('Store')['Sales'].sum()

Store
S1    720
S2    700
Name: Sales, dtype: int64

In [12]:
# Group by multiple columns
# Group by Category and Store
df.groupby(['Category','Store'])['Sales'].sum()

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       350
Name: Sales, dtype: int64

### Aggregation

In [13]:
df['Sales'].mean()

np.float64(177.5)

In [14]:
df['Sales'].median()

np.float64(175.0)

In [16]:
df['Sales'].mode()

0    100
1    200
Name: Sales, dtype: int64

In [17]:
df['Sales'].min()

np.int64(100)

In [18]:
df['Sales'].max()

np.int64(300)

In [19]:
df['Sales'].count()

np.int64(8)

In [20]:
df['Sales'].std()

np.float64(73.04597378168276)

In [24]:
# .agg

df['Sales'].agg(['sum','mean','min','max'])

sum     1420.0
mean     177.5
min      100.0
max      300.0
Name: Sales, dtype: float64