In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('anime.csv')

In [4]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

## Make a new columns for episode count

In [9]:
def extract_episode(txt):
    check=False
    data=''
    for i in txt:
        if i=='(':
            check=True
            continue
        if check ==True:
            if i==')':
                break
            data+=i
    return data

In [10]:
extract_episode(df.loc[4]['Title'])

'10 eps'

In [11]:
df['Total Episodes']=df['Title'].apply(extract_episode)

In [48]:
df.head()

,Rank,Title,Score,Total Episodes,Time Stamp,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [14]:
df['Total Episodes']=df['Total Episodes'].str.replace('eps','')

In [19]:
df['Total Episodes']=df['Total Episodes'].astype(int)

In [20]:
df.iloc[0]['Total Episodes']

np.int64(64)

## Make a new Columns for time stamp

In [22]:
df.loc[0]['Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [32]:
def extract_time(txt):
    data=''
    for i in range(0,len(txt)):
        if txt[i]==')':
            for j in range(0,19):
                i+=1
                data=data+txt[i]
            return data

In [33]:
extract_time(df.loc[0]['Title'])

'Apr 2009 - Jul 2010'

In [28]:
df['Time Stamp']=df['Title'].apply(extract_time)

In [41]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

In [45]:
def claculate_total_months(period):
    try:
        start_str,end_str=period.split(' - ')
        start_date=datetime.strptime(start_str,'%b %Y')
        end_date=datetime.strptime(end_str,'%b %Y')
        r = relativedelta(end_date, start_date)
        return r.years*12+r.months+1
    except:
        return None

16

In [47]:
df['Months']=df['Time Stamp'].apply(claculate_total_months)

## Which Anime has the highest score

In [58]:

df[df['Score']==df['Score'].max()]

,Rank,Title,Score,Total Episodes,Time Stamp,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,16

## Give me top 5 highest score anime

In [59]:
df['Title'].head()

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

## Which Amine has the highest episodes count

In [66]:
df[df['Total Episodes']==df['Total Episodes'].max()]

,Rank,Title,Score,Total Episodes,Time Stamp,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48

## Animes with top 5 episode count

In [73]:
df.sort_values(by='Total Episodes',ascending=False).head()

,Rank,Title,Score,Total Episodes,Time Stamp,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014,36
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002,18
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005,18

## which is the longest running anime

In [67]:
df[df['Months']==df['Months'].max()]

,Rank,Title,Score,Total Episodes,Time Stamp,Months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111